* {
    margin: 0;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #f0f0f0;
}
header{
    background-color: rgb(236, 204, 237);
    padding: 25px;
}
#nombre-tienda {
    font-size: 40px;
}
.contenedor-titulo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.contenedor-titulo img{
    width: 30px;
    padding: 0 110px;
}

.barraMenu ul{
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-top: 0;
    list-style: none;
}
.barraMenu ul li{
    margin: 0 30px;
}
.barraMenu ul li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.barraMenu ul li a:hover{
    color: blue;
}

.search-form {
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 50%;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 9999;
}
.hidden {
    display: none;
}
#close-search {
    position: absolute;
    top: 30px;
    right: 1px;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 2rem;
    color: #ff0000;
}
.search-input {
    width: 98%;
    padding: 15px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 25px;
}
#search-results {
    display: none;
}
#search-results a {
    color: black;
    text-decoration: none;
}
#search-results a:hover {
    text-decoration: underline;
}



.contenedor {
    padding: 25px;
    background-image: url(img/fondoPrincipal.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
}
#text {
    display: flex;
    flex-direction: column;
    background: rgb(255, 255, 255);
    text-align: left;
    justify-content: center;
    width: 34%;
    height: 35%;
    position: relative;
    top: 54%;
    left: 30%;
    transform: translate(-50%, -50%);
    padding: 40px;
    font-size: 40px;
    border-radius: 20px;
    color: rgb(14, 27, 77);
}
.btnPrincipal {
    width: 28%;
    height: 50px;
    border-radius: 25px;
    margin-top: 20px;
    color: rgb(14, 27, 77);
    border-color: rgb(14, 27, 77);
    background: none;
    font-size: 15px;
}

#produ-top {
    text-align: left;
    padding: 20px;
    margin-top: 50px;
    margin-left: 70px;
    font-size: 30px;
}

.productos {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.container-produ{
    display: flex;
    justify-content: space-between;
    width: 90%;
}
.product-card {
    background-color: #ffffff;
    border: 1px solid #1f2e86;
    border-radius: 20px;
    width: 23%;
    margin-bottom: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgb(0,0,0.0.1);
    position: relative;
    padding: 10px;
    margin-right: 30px;
    margin-bottom: 0;
}
.image-container {
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 10px;
}
.product-card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.product-card p {
    margin: 10px 0;
}
.product-card .category {
    font-size: 18px;
    font-weight: bold;
}
.product-card .price {
    font-size: 20px;
    color: #1f2e86;
}
.product-card button {
    background-color: #ffffff;
    border: 1px solid #1f2e86;
    color: #1f2e86;
    padding: 5px 20px;
    border-radius: 15px;
    cursor: pointer;
    margin-bottom: 15px;
}
.product-card button:hover {
    background-color: #1f2e86;
    color: #ffffff;
}

.beneficios {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    overflow: hidden;
}
.beneficio-card {
    text-align: center;
    color: #1c2452;
    font-size: 15px;
    padding: 30px 100px;
}

.search-result-item {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}

.search-result-image {
    width: 20px; /* Tamaño mínimo de la imagen */
    height: auto;
    margin-right: 10px;
}

.secciones-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 40px 110px;
    align-items: center;
}
.seccion-card {
    display: flex;
    /* box-shadow: 0 4px 8px rgb(0, 0, 0,0.1); */
    overflow: hidden;
    width: 100%;
}
.seccion-image img {
    width: 100%;
    height: auto;
    box-shadow: 0 8px 8px rgb(0, 0, 0,0.1);
    border-radius: 50px;
    
}
.seccion-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding: 70px;
}
.seccion-info h2 {
    margin-top: 0;
    color: #333;
    line-height: 1.5;
    margin-bottom: 20px;
    font-size: 40px;
}
.seccion-info p {
    color: #666;
    font-size: 23px;
    line-height: 1.5;
    margin-bottom: 20px;
}
.seccion-info button {
    background-color: #ffffff;
    border: 1px solid #1f2e86;
    color: #1f2e86;
    padding: 5px 20px;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 15px;
    width: 30%;
    font-size: 20px;
}
.seccion-info button:hover {
    background-color: #1f2e86;
    color: #ffffff;
}

footer {
    background-color: #0a174e;
    color: white;
    padding: 20px 0;
}
.footer-container {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}
.subscribe {
    text-align: center;
    margin-bottom: 30px;
}
.subscribe h2 {
    margin: 0;
    font-size: 24px;
}
.subscribe p {
    margin: 5px 0 15px;
}
.subscribe-input {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}
.subscribe-input input {
    padding: 10px 20px;
    font-size: 16px;
    border: 2px solid #007bff;
    border-right: none;
    border-radius: 25px 0 0 25px;
    outline: none;
    transition: border-color 0.3s;
}
.subscribe-input input:focus {
    border-color: #0056b3;
}
.subscribe-input button {
    padding: 10px 20px;
    font-size: 16px;
    border: 2px solid #007bff;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 0 25px 25px 0;
    outline: none;
    transition: background-color 0.3s, border-color 0.3s;
}
.subscribe-input button:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}
.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: left;
    margin-bottom: 30px;
}
.column {
    /* flex: 1; */
    min-width: 200px;
    margin: 10px;
}
.column h3 {
    margin-bottom: 10px;
}
.column ul {
    list-style: none;
    padding: 0;
}
.column ul li {
    margin-bottom: 10px;
}
.column ul li a {
    color: white;
    text-decoration: none;
}
.column ul li a:hover {
    text-decoration: underline;
}
.social-media {
    text-align: center;
    margin-bottom: 30px;
}
.social-media a {
    margin: 0 10px;
    display: inline-block;
}
.social-media img {
    width: 30px;
    height: 30px;
}
.footer-bottom {
    text-align: center;
    border-top: 1px solid #ffffff33;
    padding-top: 10px;
}
.footer-bottom a {
    margin-left: 10px;
    display: inline-block;
}
.footer-bottom img {
    width: 30px;
    height: 30px;
}